body {
  font-family: "Segoe UI", sans-serif;
  background: #f4f6f8;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-box {
  background: #fff;
  padding: 30px;
  width: 340px;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  text-align: center;
}

.signup-box h2 {
  margin-bottom: 20px;
}

.signup-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.signup-box button {
  width: 100%;
  padding: 12px;
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
}

.signup-box button:hover {
  background: #222;
}

#msg {
  margin-top: 10px;
  color: red;
}

.login-link {
  margin-top: 15px;
  font-size: 14px;
}

.login-link a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
